# Project dependencies for EBeam Dashboard
# Last updated: 2026-05-01

numpy==2.4.4
pandas==3.0.2
matplotlib==3.10.8
ipykernel==7.2.0
Ipython==9.12.0
ipywidgets==7.7.1

# If using VSCode, you must also install the below extensions:
# Jupyter
# Python

